div.audplayer {
    padding-top: 50px;
}

div.thumbimg {
    padding-right: 90;
    padding-top: 50px;
    max-width: 100%
}
.infotext {
  padding-top: 10px;
  font-family: font;
  }

@font-face {
    font-family: font;
    src: url(CodeNext-Trial-Black.ttf);
 }