div.audplayer {
    padding-top: 50px;
}

div.thumbimg {
    padding-right: 220;
    padding-top: 50px;
    max-width: 100%
}

.infocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.infotext {
    font-size: 20px;
    font-family: font;
  }

@font-face {
    font-family: font;
    src: url(CodeNext-Trial-Black.ttf);
 }