div.audplayer {
    padding-top: 50px;
}

div.thumbimg {
    padding-right: 220;
    padding-top: 50px;

}

.infocontainer {
    display: flex;
  }

.infotext {
    font-size: 20px;
    padding-left: 20px;
    font-family: font;
  }

@font-face {
    font-family: font;
    src: url(CodeNext-Trial-Black.ttf);
 }